*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100%;
}
button{
  border: none;
  outline: none;
  background: transparent;
}

/*  HEADER */
.header-nav-wrapper{
  position: sticky;
  background-color: white;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-bottom: 5px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px 20px 80px;
  border: 1px solid lightgrey;
}
.header-icon{
  width: 15px;
}
.logo{
  width: 150px;
}
.search-icon{
  width:12px;
  padding: 0px;
  border-radius:50%;
  background-color: red;
}
.header-btn-container{
  padding: 10px;
  border-radius: 25px;
  border: 1px solid lightgrey;
  box-shadow: 0 10px 50px rgb(230, 230, 230);
}
.header-btn{
  border: none;
  border-right: 1px solid black;
  background-color: white;
}
.no-right-border{
  border-right:none;
}

/* NAVBAR */
.navbar{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  padding: 0 80px 0 80px;

  overflow-x: scroll;
  -ms-overflow-style: none; /*hide scrollbar IE */
  scrollbar-width: none;  /*hide scrollbar firefox */
}
.navbar::-webkit-scrollbar{ 
  display: none; /*hide scrollbar chrome and safari */
}
.nav{
  white-space: nowrap;
  margin: 0 20px;
}
.navbar-icon{
  width: 25px;
}
.navbar-text{
  padding-top:-120rem;
}


/* MAIN */
.main-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 80px 0 80px;
  gap: 20px;
}
.card{
  position: relative;
}
.card-image{
  width: clamp(280px, 21vw, 320px);
  height: clamp(280px, 21vh, 320px);
  border-radius: 5%;
}

.card-like-btn{
  position: absolute;
  top: 12px;
  right: 6px;
  width: 30px;
}



/* RESPONSIVE STYLES */
@media screen and (max-width: 1240px) {
 
  .navbar-icon{
    width: 20px;
  }
  p{
    font-size: 15px;
  }
}

@media screen and (max-width: 740px) {
  .main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo, .header-text{
    display: none;
  }
  .header{
    display: flex;
    justify-content:center;
  }
  .header-btn-container{
    width: 100vw;
    text-align: center
  }
  .navbar{
    padding: 0;
  }

  .navbar-icon{
    width: 30px;
  }
  .navbar-text{
    font-size: 1.5rem
  }
  .main-section{
    margin: 0;
  }
  .card-image{
    width: 75vw;
    height: 40vh;
  }
  p, h3{
    font-size: 1.75rem;
  }
}
